<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="robotiq_3f_driver_ros2_control"
                 params="name use_fake_hardware:=true
                       usb_port:=/dev/ttyUSB1
                       baud_rate:=115200
                       timeout:=0.2
                       slave_address:=0x9">

        <ros2_control name="${name}" type="system">
            <hardware>
                <plugin>robotiq_3f_driver/Robotiq3fGripperHardwareInterface</plugin>

                <!-- Serial connection parameters ////////////////////////////////// -->

                <param name="usb_port">${usb_port}</param>
                <param name="baud_rate">${baud_rate}</param>
                <param name="timeout">${timeout}</param>

                <!-- Gripper parameters /////////////////////////////////////////// -->

                <!-- Set use_dummy to true to connect to a dummy driver for testing purposes. -->
                <param name="use_dummy">${use_fake_hardware}</param>

                <!-- The address of the gripper. -->
                <param name="slave_address">${slave_address}</param>

            </hardware>

            <!--
                since the robotiq 3f is underactuated, we use transmissions to defined how the motors
                are connected to the joints.
                We therefore also do not list the joints and their state/command interfaces here,
                because all that information is contained in the hardware interface.
            -->
            <transmission name="individual_control_transmission">
                <plugin>robotiq_3f_transmission_plugins/IndividualControlTransmission</plugin>
            </transmission>
        </ros2_control>

    </xacro:macro>
</robot>
